certifi==2020.12.5
cycler==0.10.0
flake8==3.8.4
georinex==1.15.0
jplephem==2.15
kiwisolver==1.3.1
matplotlib==3.3.3
mccabe==0.6.1
nested-lookup==0.2.21
numpy==1.19.4
ordered-set==4.0.2
pandas==1.1.4
pathlib==1.0.1
Pillow==8.0.1
pudb==2019.2
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.2
PyLaTeX==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
sgp4==2.17
six==1.15.0
skyfield==1.37
tabulate==0.8.7
termcolor==1.1.0
typing==3.7.4.3
urwid==2.1.2
webcolors==1.11.1
xarray==0.16.2
